* {
  box-sizing: border-box; 
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#main {
  display: flex;
  flex: 1;
}

#main > .left-section {
  flex: 1;
  order: 1;
  margin: 20px;
}

#main > .right-section {
  flex: 0 0 40vw;
}

#main > .right-section {
  order: 2;
}

nav, footer {
  height: 15vh;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  margin-right: 20px;
  list-style: none;
}

header, footer, .left-section, nav, .right-section {
  padding: 1em;
}

a {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
}

.underline {
  border: 2px solid transparent;
  
  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: #fff;
    content: " ";
    position: absolute;
    top: 34px;
    left: 50%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  &:hover {
    &::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: #6E6658;
      content: " ";
      position: absolute;
      top: 34px;
      left: 0;
    }
  }
}

.light-theme, .dark-theme {
  height: 100vh;

  a:hover, .active {
    color: #6E6658;
  }
}

.light-theme {
  background-color: #EDEAE5;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("https://images.unsplash.com/photo-1534620783980-fa96320b0ce6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .left-section {
    border: 1px solid #FFFFFF;
  }

  a {
    color: #EEEDF2;
  }

  h3 {
    color: #EEEDF2;
  }

  p {
    color: #EEEDF2;
    font-size: 0.9rem;
  }

  i {
    background-color: #026670; 
    color: #9FEDD7;
  }
}

.dark-theme:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1543899058-df237bd81c32?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.dark-theme {
  overflow: auto;
  position: relative;

  .left-section {
    background-color: #000000;
    opacity: 50%;
    border: 1px solid #4D5553;
  }

  a {
    color: #89898C;
  }

  h3, h4 {
    color: #FFFFFF;
  }

  p {
    color: #FFFFFF;
    font-size: 0.9rem;
  }

  i {
    background-color: #6E6658;
    color: #EEEDF2;
  }
}