* {
  box-sizing: border-box; 
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
  }
}

nav, footer {
  height: 5vh;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rotate {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

a {
  color: #FED700;
}

a:hover {
  color: #FED700;
  opacity: 0.5;
}

h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 8.5rem;
  line-height: 8.5rem;
}

h4 {
  font-family: "Playfair Display", serif !important;
  font-style: normal;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

footer, nav, .main-section, .left-margin, .right-margin {
  padding: 1em;
}

.main-section {
  display: flex;
  min-height: calc(100vh - 10vh);
}

.left-margin, .right-margin {
  flex: 0 0 1vw;
}

.left-margin {
  order: -1;
}

.main-section-content {
  display: flex;
  flex-direction: row;
}

.welcome-section-left {
  flex: 0 0 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 55%;
  margin-left: 25%;
  
  .welcome-text {
    letter-spacing: 0.077778rem;
  }
  
  .welcome-subsection {
    margin-top: 5%;
    
    p {
      font-size: 1.6rem;
    }
    
    a {
      color: #F8A472;
    }
  }
}

.not-found-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    color: #001717 !important;
  }

  p {
    color: #001717 !important;
    font-size: 1.4rem;
  }
  
  a {
    color: #F8A472 !important;
  }
}

.about-me-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 15%;
}

.about-me-subsection {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.experience-subsection {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.about-me-avatar {
  text-align: center;
  margin-bottom: 5%;
  
  img {
    width: 50%;
    border-radius: 10px;
  }
}

.about-me-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-me-content {
  a {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
  }
}

.about-content-sections {
  flex: 0 0 35vw;
}

.experience-item {
  margin-bottom: 35px;
}

.experience-item-header {
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-item-icons {
  margin-bottom: 5px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.experience-item-content {
  font-size: 1rem;
  margin-bottom: 15px;
}

.download-cv {
  margin-top: 50px;
}

.download-cv-btn {
  width: 20%;
  padding: 10px;
  text-align: center;
  border: 2px solid #C21E56;
  border-radius: 4px;
  color: #C21E56;
}

.download-cv-btn:hover {
  opacity: 0.5;
  color: #C21E56;
}

.light-theme {
  background-color: white;
  
  .about-me-icons i {
    color: #C21E56;
  }
  
  nav {
    i {
      color: #001717;
    }
  }

  footer a, footer a:hover {
    color: #F8A472;
  }
}

.light-home-background {
  background: -webkit-linear-gradient(360deg, white 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: -o-linear-gradient(360deg, white 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: -moz-linear-gradient(360deg, white 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: linear-gradient(360deg, white 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background-size: cover;
  background-position: 0% 60%;
}

.dark-home-background {
  background: -webkit-linear-gradient(360deg, #001717 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: -o-linear-gradient(360deg, #001717 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: -moz-linear-gradient(360deg, #001717 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background: linear-gradient(360deg, #001717 50%, rgba(0, 0, 0, 0) 30%), url("./files/2.jpg");
  background-size: cover;
  background-position: 0% 60%;
}

.light-not-found-background, .dark-not-found-background {
  background-image: url("./files/3.jpg");
  background-size: cover;
  background-position: 0% 70%;
}

.dark-theme {
  background-color: #001717;

  h2, h4 {
    color: #F5F5F5;
  }
  
  h4 {
    opacity: 0.9;
  }

  p {
    color: #F5F5F5;
    opacity: 0.9;
  }

  .welcome-subsection a, footer a {
    color: #B2AF92;
  }
  
  .about-me-icons, nav {
    i {
      color: #F8A472;
    }
  }

  .about-me-avatar {
    opacity: 0.95;
  }
  
  a {
    color: #008080;
  }

  .download-cv-btn {
    border: 2px solid #F8A472;
    color: #F8A472;
  }

  .experience-item i {
    color: #F5F5F5;
    opacity: 0.9;
  }
}

@media screen and (max-width:1300px) {
  .main-section-content { 
    flex-direction: column;
  }

  .about-me-section {
    margin: 0;
  }

  .about-me-avatar {
    img {
      width: 90%;
    }
  }

  .about-me-subsection {
    flex-direction: column;
    display: block;
  }
  
  .experience-subsection {
    flex-direction: column;
  }

  .experience-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .download-cv {
    margin-top: 10px;
  }
  
  .experience-item-icons {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:650px) {
  .welcome-section-left { 
    h2 {
      font-size: 7.5rem;
      line-height: 7.5rem;
    }
  }
}

@media screen and (max-width:550px) {
  .welcome-section-left { 
    h2 {
      font-size: 6rem;
      line-height: 6rem;
    }
  }

  .experience-subsection {
    margin-top: 10%;
  }

  .download-cv-btn {
    padding: 7px;
  }
}

@media screen and (max-width:450px) {
  .left-margin, .right-margin {
    flex: 0 0 0vw;
  }

  .welcome-section-left { 
    h2 {
      font-size: 4rem;
      line-height: 4rem;
    }

    p {
      font-size: 1.3rem !important;
    }
  }
}